[Unit]
Description=BLE Midi Server
After=bluetooth.service

[Service]
Restart=always
RestartSec=5
User=root
WorkingDirectory=/root/bleusbbridge
ExecStart=/bin/env python3 /root/bleusbbridge/bleusbbridge.py

[Install]
WantedBy=multi-user.target
