[Unit]
Description=BLE Midi Server
After=bluetooth.service

[Service]
User=root
ExecStart=/root/bleusbbridge/bleusbbridge

[Install]
WantedBy=multi-user.target